# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.db

# Airflow
airflow.db
airflow.cfg
logs/
unittests.cfg
webserver_config.py

# VS Code
.vscode/

# Jupyter / notebooks
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
